*{
font-family: 'Roboto', sans-serif;
box-sizing:border-box;

}


div.photo_1 img {
  width:100%;
}
@media screen and (min-width: 800px) {
  div.photo_1 img {
    width: 50%
    float:left;
    padding-right:10px;
  }
}
